/* CSS - Peter Roper */
.text-muted { color: initial !important; opacity: 0.65; }

body .btn-primary { color: #0e6585 !important; background-color: #efa837 !important; border-color: #efa837 !important; }

body #head .btn-primary { border-color: #e19112 !important; }

body .btn-primary:hover { color: #0e6585 !important; background-color: #e19112 !important; border-color: #e19112 !important; }

body .btn-outline-primary { color: #0e6585 !important; border-color: #0e6585 !important; }

body .btn-outline-primary:hover { color: #FFF !important; background-color: #0e6585 !important; border-color: #0e6585 !important; }

body .btn-outline-light { color: #10769c !important; background-color: #FFF !important; border-color: #9dddf5 !important; }

body .btn-outline-light:hover { color: #1599ca !important; background-color: #FFF !important; }

body .btn-light { color: #e2f5fc !important; }

.checklist.muted .row .col-auto, #subhead .container-fluid a, #menu nav a, .checklist .row, footer nav .top, body, #head .text-muted, #head { color: #07303f !important; }

header nav a { color: #0e6585; }

header a .icn, header .logo a { color: #07303f; }

footer nav #main a, footer nav #sub a { color: #0e6585; }

#links .lead, #portfolio .lead { color: #094257 !important; }

#portfolio .status .col-md div, #portfolio .h1 a, .READMOREjs a, #links .h3, #portfolio .h3 { color: #0e6585; }

#head, #head .text-muted, #head nav a, #head nav .selected, #intro .card, #menu nav, #appraisal, #appraisal .text-muted, #study, #study .text-muted, #skills, #skills .text-muted, #skills .icon, #subhead, #subhead a.icn, #intro, #intro .text-muted { color: #FFF !important; }

#head .h3, #head .h3 .text-muted, header .logo a small { color: #774dab !important; }

.checklist .row .col-auto { color: #FFF; }

#study .border-top { border-color: #020d11 !important; }

#intro .border-top { border-color: #041f28 !important; }

#portfolio .status .col-md div, .READMOREjs.border-bottom { border-color: #9dddf5 !important; }

#rezbot .READMOREjs a, body, header { background-color: #e2f5fc; }

.checklist.muted .row .col-auto { background-color: #b4e5f7; }

#portfolio .status .col-md:first-of-type div { background-color: #cbedfa !important; }

.checklist .row .col-auto { background-color: #07303f; }

.checklist .row { background-color: #FFF; }

#subhead, #skills .icon, #developer .checklist .row .col-auto { background-color: #1599ca; }

#head nav .selected { background-color: #10769c; }

#head { background-color: #0e6585; }

.checklist.green .row .col-auto { background-color: #3BB273; }

.checklist.red .row .col-auto { background-color: #E15554; }

.checklist.yellow .row .col-auto { background-color: #efa837; }

.card-header { background-color: #b4e5f7; }

footer nav #sub, footer nav #main { background-color: #efa837; }

#intro .row .col:nth-child(1) .img { background-color: #222A2F; }

#intro .row .col:nth-child(2) .img { background-color: #000; }

#intro .row .col:nth-child(3) .img { background-color: #F0774E; }

#intro .row .col:nth-child(4) .img { background-color: #4C5459; }

#subhead .container-fluid { background-color: #DEDEDE; }

#portfolio .status .col-md div, .READMOREjs a, #links, #subhead .container-fluid .selected a, #menu nav a, footer nav .top { background-color: #FFF; }

#redesign .video, #redesign .img, #redesign .img span { background-color: #E2E8F0; }

#intro #cards .img { background-position: 50%; }

#intro #cards .img { background-repeat: no-repeat; }

header #header > .row > nav:before, header nav { background: 0; filter: none; }

#intro { background: -moz-linear-gradient(left, #774dab 0%, #07303f 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, #774dab), color-stop(100%, #07303f)); background: -webkit-linear-gradient(left, #774dab 0%, #07303f 100%); background: -o-linear-gradient(left, #774dab 0%, #07303f 100%); background: -ms-linear-gradient(left, #774dab 0%, #07303f 100%); background: linear-gradient(to right, #774dab 0%, #07303f 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#774dab', endColorstr='#07303f',GradientType=1 ); }

#menu header nav, .scrollr header nav { background: -moz-linear-gradient(left, #b4e5f7 0%, #e2f5fc 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, #b4e5f7), color-stop(100%, #e2f5fc)); background: -webkit-linear-gradient(left, #b4e5f7 0%, #e2f5fc 100%); background: -o-linear-gradient(left, #b4e5f7 0%, #e2f5fc 100%); background: -ms-linear-gradient(left, #b4e5f7 0%, #e2f5fc 100%); background: linear-gradient(to right, #b4e5f7 0%, #e2f5fc 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e5f7', endColorstr='#e2f5fc',GradientType=1 ); }

#skills { background: -moz-linear-gradient(top, #1599ca 0%, #07303f 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1599ca), color-stop(100%, #07303f)); background: -webkit-linear-gradient(top, #1599ca 0%, #07303f 100%); background: -o-linear-gradient(top, #1599ca 0%, #07303f 100%); background: -ms-linear-gradient(top, #1599ca 0%, #07303f 100%); background: linear-gradient(top, #1599ca 0%, #07303f 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1599ca', endColorstr='#07303f',GradientType=0 ); }

section .bg:after { background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, white 100%); background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, white 100%); background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, white 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); }

#study { background: -moz-linear-gradient(top, #020d11 0%, #07303f 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #020d11), color-stop(100%, #07303f)); background: -webkit-linear-gradient(top, #020d11 0%, #07303f 100%); background: -o-linear-gradient(top, #020d11 0%, #07303f 100%); background: -ms-linear-gradient(top, #020d11 0%, #07303f 100%); background: linear-gradient(top, #020d11 0%, #07303f 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020d11', endColorstr='#07303f',GradientType=0 ); }

#intro:before, .page-index #rezbot:before, .page-index #philosophy:before, #skills:before { background-image: linear-gradient(to left top, transparent 50%, #FFF 50%, #FFF 0%); }

#links:before { background-image: linear-gradient(to left top, transparent 50%, #e2f5fc 50%, #e2f5fc 0%); }

#menu header #header > .row > nav:before, .scrollr header #header > .row > nav:before { background-image: linear-gradient(to left top, transparent 50%, #e2f5fc 50%, #e2f5fc 0%); }

.checklist .row .col-auto:after { background-image: linear-gradient(to right bottom, transparent 50%, #FFF 50%, #FFF 0%); }

#intro:after { background-image: linear-gradient(to right bottom, transparent 50%, #020d11 50%, #020d11 0%); }

.scrollr header { box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); }

@media only screen and (max-width: 768px) { #intro { background: -moz-linear-gradient(top, #774dab 0%, #07303f 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #774dab), color-stop(100%, #07303f)); background: -webkit-linear-gradient(top, #774dab 0%, #07303f 100%); background: -o-linear-gradient(top, #774dab 0%, #07303f 100%); background: -ms-linear-gradient(top, #774dab 0%, #07303f 100%); background: linear-gradient(top, #774dab 0%, #07303f 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#774dab', endColorstr='#07303f',GradientType=0 ); }
  #head:before { background-image: linear-gradient(to right bottom, transparent 50%, #774dab 50%, #774dab 0%); }
  #head:after { background-image: linear-gradient(to left bottom, transparent 50%, #774dab 50%, #774dab 0%); } }

/*# sourceMappingURL=theme.css.map */
