.page-index{
padding-bottom: 246px;
}
/*////////////////////////////// font //////////////////////////////*/
body{
font-family: "Segoe UI", system-ui, Roboto, Ubuntu, 'Helvetica Neue', Oxygen, Cantarell, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'!important;
}
em{
font-family: 'Zilla Slab';
}
p,
li{
line-height: 26px;
font-size: 18px;
}
dd,
small{
line-height: 20px;
font-size: 14px;
display: block;
}
#intro h1 b,
.h1 b,
header nav h1{
font-weight: 700!important;
}
.display-4,
h1 b,
h2 b,
h3 b,
h4 b,
h5 b,
.subtitle{
font-weight: 600;
}
#intro h2,
dt{
font-weight: 400;
}
/*////////////////////////////// elements //////////////////////////////*/
.icn{
  font-family: "Material Icons" !important;
  font-size: 24px;
  width: 24px;
  line-height: 24px;
  font-weight: normal !important;
  font-feature-settings: 'liga';
  text-transform: initial;
  text-indent: 0 !important;
  overflow: hidden;
}
.img{
padding-bottom: 58%;
background-position: 50%;
background-repeat: no-repeat;
background-size: auto 100%;
display: block;
}
.tag{
  line-height: 16px;
  font-size: 12px;
}
.tag .icn{
  font-size: 16px;
  width: 16px;
  line-height: 16px;
}
.linkedin .icn{
background-size: 100% auto;
text-indent: -5000px!important;
text-align: left;
}
/*////////////////////////////// skills //////////////////////////////*/
#skills{
list-style-type: none;
}
#skills li{
line-height: 22px;
  font-size: 16px;
}
/*////////////////////////////// scroller //////////////////////////////*/
.scroller{
white-space: nowrap;
overflow-x: scroll;
}
.scroller .item{
width: 240px;
display: inline-block;
vertical-align: middle;
}
.scroller .item .img{
position: relative;
}
.scroller .item .img em{
margin: -12px 0 0 -43px;
position: absolute;
top: 50%;
left: 50%;
text-align:center;
}
.page-story .scroller .item{
width: 148px;
}
.page-story .scroller .item.selected{
width: 198px;
}
.scroller::-webkit-scrollbar {
height: 8px;
}
.scroller::-webkit-scrollbar-track {
}
.scroller::-webkit-scrollbar-thumb {
border-radius: 100px;
}
/*////////////////////////////// gallery //////////////////////////////*/
#gallery .h4,
#gallery .h5,
#gallery small{
display: none;
}
/*////////////////////////////// on show //////////////////////////////*/
#personas .col-md,
#on-show .col{
border-color: rgba(0, 0, 0, 0.12)!important;
border-width: 1px 0 0 0!important;
border-style: solid!important;
}
#personas .col-md:first-of-type,
#on-show .col:first-of-type{
border-width: 0!important;
}
/*////////////////////////////// responsive //////////////////////////////*/
/* Extra Small Devices, Phones */
@media only screen and (min-width : 348px) {

}
@media only screen and (max-width : 768px) {
  #intro .linkedin{
  position: absolute;
  top: 16px;
  right: 16px;
  }
  #intro h2{
  font-size: 1rem!important;
  }
  #mockup{
  width: 100%!important;
  }
  #on-show .col{
  padding: 1rem 0!important;
  }
  #screens .scroller .item{
  vertical-align: top;
  }
  #screens .desktop{
  width: 400px!important;
  }
  #screens .mobile-lg{
  width: 300px!important;
  }
  #screens .mobile{
  width: 240px!important;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #skills{
  width: 400px;
  }
  #intro h1 b{
  font-size: 55px;
  }
  #personas .col-md,
  #on-show .col{
  border-width: 0 0 0 1px!important;
  }
  .page-story{
  padding-bottom: 200px;
  }
  .scroller .item{
  width: 300px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .page-story #gallery .scroller .item{
  transition: width .4s ease; width: 240px !important;
  }
  .page-story #gallery:hover .scroller .item{
  transition: width .4s ease; width: 320px !important;
  }
  #gallery:hover .h5,
  #gallery:hover .h4,
  #gallery:hover small{
  transition: display .6s ease; display: block !important;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
