/* CSS - Peter Roper */
@font-face { font-family: 'Material Icons'; font-style: normal; font-weight: 400; font-display: swap; src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNY.eot) format("eot"), url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2"), url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNa.woff) format("woff"), url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNZ.ttf) format("ttf"); font-feature-settings: 'liga'; }
@font-face { font-family: Poppins; font-display: swap; src: local("Poppins Regular"), local("Poppins-Regular"), url("/fonts/poppins/poppins-v9-latin-regular.woff2") format("woff2"), url("/fonts/poppins/poppins-v9-latin-regular.woff") format("woff"), url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */ }

body{
font-family: 'Zilla Slab';
}
h2 b,
h3 b{
font-family: 'Zilla Slab Highlight'!important;
}
h2 b{
font-size: 68px;
line-height: 80px;
/*font-style: normal;
font-weight: 700;*/
}
h3 b{
font-size: 58px;
line-height: 70px;
/*font-style: normal;
font-weight: 700;*/
}
h4{
font-size: 38px!important;
line-height: 44px!important;
}
h5{
font-size: 32px!important;
line-height: 38px!important;
}
.subtitle{
font-size: 28px!important;
line-height: 34px!important;
}
h3 small,
.subtitle small,
p,
li{
font-size: 18px!important;
line-height: 26px!important;
}
small{
font-size: 14px!important;
line-height: 18px!important;
display: block;
}
#header p{
font-size: 24px!important;
line-height: 30px!important;
letter-spacing: 0.12em;
}
/*////////// HEADER //////////*/
#header h2 em,
#header h5 em{
font-size: 24px;
line-height: 30px;
}
header nav{
float: right;
}
header nav h1{
font-family: 'Lato';
font-size: 28px;
font-weight: 900;
}
header section{
clear: both;
}
#header h2 em,
#header h5 em{
width: 120px;
text-align: right;
vertical-align: bottom;
}
#header h5 em{
vertical-align: middle;
}
#header h5{
padding-left: 120px;
}
/*////////// Experiences //////////*/

#experiences .img{
  height: 220px;
display: block;
}
/*////////// Biography //////////*/
#early-years{
width: 100%;
overflow-x: scroll;
}
#early-years > .colx{
width: 336px!important;
overflow: hidden;
float: left;
}
#early-years > .colx .colx{
  width: 220px;
float: left;
}
#early-years > .colx .colx.img{
width: 96px;
height: 96px;
display: block;
}
