/* CSS - Peter Roper */
@font-face { font-family: 'Material Icons'; font-style: normal; font-weight: 400; font-display: swap; src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNY.eot) format("eot"), url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2"), url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNa.woff) format("woff"), url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNZ.ttf) format("ttf"); font-feature-settings: 'liga'; }
@font-face { font-family: Poppins; font-display: swap; src: local("Poppins Regular"), local("Poppins-Regular"), url("/fonts/poppins/poppins-v9-latin-regular.woff2") format("woff2"), url("/fonts/poppins/poppins-v9-latin-regular.woff") format("woff"), url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */ }

body{
font-family: 'Zilla Slab';
}

p b{
font-size: 24px;
font-style: italic;
font-weight: 700;
line-height: 29px;
letter-spacing: 0.12em;
text-align: left;
}
.h2 span{
line-height: 29px;
letter-spacing: 0em;
}
.h2 b,
.h3 b{
font-family: 'Zilla Slab Highlight', cursive;
}
#header p b{
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0.12em;
}
#header p em{
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0.12em;
}
#header p.h2 span{
width: 120px;
font-size: 24px;
font-style: italic;
font-weight: 400;
text-align: right;
}
