body{
color: #07303f;
}
.page-story{
background-color: #F5F5F5;
}
header h1,
header h1 a{
color: #07303f!important;

}
header nav a{
color: #FFF;
}
#skills li{
color: #07303f!important;
}
#personas .row,
#personas .col-md,
#on-show .col{
border-color: rgba(0, 0, 0, 0.12)!important;
}
#personas .row,
#personas .row .card,
#personas .row .card li{
/*background-color: #e2f5fc!important;*/
background-color: #E2E8F0!important;
}
header{
background-color: #FFF;
}
#screens{
background-color: #b4e5f7;
}
h4 em,
h5 em{
opacity: 68%;
}
.img{
background-color: #EEE;
}
#project{
background-color: #FFF;
}
.scroller .img,
.scroller::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.2);
}
#gallery:hover,
.page-story #gallery:hover{
background-color: #D5D5D5;
}
#gallery{
    background: -moz-linear-gradient(left, #774dab 0%, #07303f 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #774dab), color-stop(100%, #07303f));
    background: -webkit-linear-gradient(left, #774dab 0%, #07303f 100%);
    background: -o-linear-gradient(left, #774dab 0%, #07303f 100%);
    background: -ms-linear-gradient(left, #774dab 0%, #07303f 100%);
    background: linear-gradient(to right, #774dab 0%, #07303f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#774dab', endColorstr='#07303f',GradientType=1 );
}
