body{
color: #242B2E;
}
header{
background-color: #EBC040;
}
header nav{
background-color: #242B2E;
color: #FFF;
}
header nav a{
color: #EBC040;
}
h5 em{
opacity: 68%;
}
.img{
  background-color: #EEE;
}
