@font-face{
font-family: 'Material Icons';
font-style: normal;
font-weight: 400;
font-display: swap;
//src: url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNY.eot) format('eot'), url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2'), url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNa.woff) format('woff'), url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNZ.ttf) format('ttf');
font-feature-settings: 'liga';
}
//////////////////////////////////////////////////
//@if $brand == xxx {
//////////////////////////////////////////////////
@font-face{
font-family: Roboto;
font-display: swap;
src: local('Roboto'), local('Roboto-Black'), 
url('/fonts/roboto/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
url('/fonts/roboto/roboto-v20-latin-900.woff') format('woff'), /* Modern Browsers */
url('/fonts/roboto/Roboto-Black.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face{
font-family: Poppins;
font-display: swap;
src: local('Poppins Regular'), local('Poppins-Regular'),
url('/fonts/poppins/poppins-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
url('/fonts/poppins/poppins-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
url('/fonts/poppins/Poppins-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
//////////////////////////////////////////////////
//}
//////////////////////////////////////////////////