@font-face{
font-family: 'Material Icons';
font-style: normal;
font-weight: 400;
font-display: swap;
//src: url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNY.eot) format('eot'), url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2'), url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNa.woff) format('woff'), url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNZ.ttf) format('ttf');
font-feature-settings: 'liga';
}
//////////////////////////////////////////////////
@if $brand == xxx {
//////////////////////////////////////////////////
@font-face{
font-family: Roboto;
font-display: swap;
src: local('Roboto'), local('Roboto-Black'), 
url('/images/fonts/roboto/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
url('/images/fonts/roboto/roboto-v20-latin-900.woff') format('woff'), /* Modern Browsers */
url('/images/fonts/roboto/Roboto-Black.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face{
font-family: Poppins;
font-display: swap;
src: local('Poppins Regular'), local('Poppins-Regular'),
url('/images/fonts/poppins/poppins-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
url('/images/fonts/poppins/poppins-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
url('/images/fonts/poppins/Poppins-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
font-family: 'Anton';
font-style: normal;
font-display: swap;
src: url('/images/fonts/anton/anton-v11-latin-regular.eot'); /* IE9 Compat Modes */
src: local('Anton Regular'), local('Anton-Regular'),
url('/images/fonts/anton/anton-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('/images/fonts/anton/anton-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
url('/images/fonts/anton/anton-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
url('/images/fonts/anton/anton-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
url('/images/fonts/anton/anton-v11-latin-regular.svg#Anton') format('svg'); /* Legacy iOS */
}
//////////////////////////////////////////////////
}
//////////////////////////////////////////////////