$sub: default;
$brand: geronigo;
$template: template1;
$style: dark;
$ver: 2;

@import "build/theme.scss";
@import "../../settings.scss";
//////////////////////////////////////////////////
p b{
font-family: 'Roboto';
}
body{
background: #FFF;
}
p b{
color: #007bff;
}
.border{
border-color: #444!important;
}
.border-bottom{
border-color: #DEDEDE!important;
}