$sub: default;
$brand: geronigo;
$template: template1;
$style: dark;
$ver: 2;

@import "build/theme.scss";
@import "../../settings.scss";
//////////////////////////////////////////////////
@import "build/casestudy.scss";

section:after{
height: 100px;
}
#study {
padding-bottom: 50px!important;
}
//////////////////////////////////////////////////
#study,
#study .text-muted{
color: #222!important;
}
#study{
background: #DEDEDE!important;
}
#study:after{
background-image: linear-gradient(to right bottom, transparent 50%, #FFF 50%, #FFF 0%);
}
//////////////////////////////////////////////////
main{
font-size: 82%;
}
p b{
font-family: 'Roboto';
font-size: 105%;
}
.h1{
font-size: 1.85rem;
}
.lead{
font-size: 1rem;
}
//////////////////////////////////////////////////
body{
background: #FFF;
}
body,
.text-muted{
color: #222!important;
}
a{
color: $bodyCl10!important;
}
p b{
color: #007bff!important;
}
.border{
border-color: #444!important;
}
.border-bottom{
border-color: #999!important;
}
body .btn-primary{
color: #FFF!important;
background-color: #333!important;
border-color: #333!important;
}
