$sub: default;
$brand: geronigo;
$template: template1;
$style: dark;
$ver: 2;

@import "build/theme.scss";
@import "../../settings.scss";
//////////////////////////////////////////////////
p b{
font-family: 'Roboto';
font-size: 115%;
}
a{
color: $bodyCl10!important;
}
p b{
color: #007bff!important;
}
.border{
border-color: $pluginTitleBg10!important;
}
.border-bottom{
border-color: $bodyBg9!important;
}
