$sub: default;
$brand: geronigo;
$template: template1;
$style: dark;
$ver: 2;

@import "build/theme.scss";
@import "../../settings.scss";
//////////////////////////////////////////////////
@import "build/casestudy.scss";
//////////////////////////////////////////////////
#study,
#study .text-muted{
color: #222!important;
}
#study{
background: #DEDEDE!important;
}
#study:after{
background-image: linear-gradient(to right bottom, transparent 50%, #FFF 50%, #FFF 0%);
}
//////////////////////////////////////////////////
main{
font-size: 82%;
}
p b{
font-family: 'Roboto';
font-size: 105%;
}
.display-3{
font-size: 2.75rem;
}
body{
background: #FFF;
color: #222;
}
a{
color: $bodyCl10!important;
}
p b{
color: #007bff!important;
}
.border{
border-color: #444!important;
}
.border-bottom{
border-color: #DEDEDE!important;
}
