$sub: default;
$brand: geronigo;
$template: template1;
$style: dark;
$ver: 2;

@import "build/theme.scss";
@import "../../settings.scss";
//////////////////////////////////////////////////
p b{
font-family: 'Roboto';
}
body{
background: #FFF;
}
a{
color: $bodyCl10!important;
}
p b a,
p b{
color: #007bff!important;
}
.border{
border-color: #444!important;
}
.border-bottom{
border-color: #DEDEDE!important;
}