/* CSS - Peter Roper */
@font-face { font-family: 'Material Icons'; font-style: normal; font-weight: 400; font-display: swap; src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNY.eot) format("eot"), url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2"), url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNa.woff) format("woff"), url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNZ.ttf) format("ttf"); font-feature-settings: 'liga'; }
@font-face { font-family: Roboto; font-display: swap; src: local("Roboto"), local("Roboto-Black"), url("/fonts/roboto/roboto-v20-latin-900.woff2") format("woff2"), url("/fonts/roboto/roboto-v20-latin-900.woff") format("woff"), url("/fonts/roboto/Roboto-Black.ttf") format("truetype");
  /* Safari, Android, iOS */ }
@font-face { font-family: Poppins; font-display: swap; src: local("Poppins Regular"), local("Poppins-Regular"), url("/fonts/poppins/poppins-v9-latin-regular.woff2") format("woff2"), url("/fonts/poppins/poppins-v9-latin-regular.woff") format("woff"), url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */ }
.overlay { position: fixed !important; left: 0; top: 0; right: 0; bottom: 0; z-index: 300; }

.noImg { position: relative; }

.noImg p { position: absolute; left: 0; right: 0; bottom: 50%; margin: 0 0 -50px 0; }

.inlineLoader { margin: 0 0 15px 0; }

.inlineLoader p { margin: 0 0 0 10px; }

.inlineLoader p, .inlineLoader .loader { display: inline-block; vertical-align: middle; }

.loader.wheel.sm, .scroll .loader.wheel { width: 25px !important; height: 25px !important; margin: 0 auto !important; }

.loader.wheel.sm:after, .scroll .loader.wheel:after { width: 80%; height: 80%; }

.scroll p { margin: 5px 0 0 0; }

.scroll.load .loader.wheel { display: block; }

.scroll .loader.wheel, .scroll.load .icn { display: none; }

.overlay .loader.bar { height: 5px; position: fixed; bottom: 59px; left: 0; right: 0; }

.overlay .loader.bar:before { content: ''; width: 10%; height: 100%; display: block; text-decoration: none; animation-name: flash; animation-duration: 1s; animation-timing-function: linear; animation-iteration-count: infinite; animation-direction: alternate; animation-play-state: running; }

@keyframes flash { from { width: 10%; }
  to { width: 100%; } }
.overlay .loader.bar { background-color: #444444; }

.overlay .loader.bar:before { background-color: #efa837; }

.loader.lg, .overlay { background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%); background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0, 0, 0, 0.6)), color-stop(100%, rgba(0, 0, 0, 0.6))); background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%); background: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%); background: -ms-linear-gradient(45deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%); background: linear-gradient(45deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000', endColorstr='#99000'); /* For IE 5.5 - 7*/ -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000', endColorstr='#99000')"; /* For IE 8*/ }

#menu { width: 0%; position: fixed !important; top: 0; left: 0; bottom: 0; z-index: 350; }

#menu .s { height: 100%; padding: 40px; box-sizing: border-box; }

#menu .close { position: absolute; top: 0; right: 0; }

#menu .h { margin: 0 0 5px 0; }

#menu li a { padding: 3px 8px 4px 8px; border-width: 0 0 1px 0; border-style: dotted; display: block; }

#menu li a:hover { margin: 0 0 1px 0; border: 0; }

#menu .socialLinks li a { padding: 0; }

.slide-menu .overlay, #menu .s { display: none; }

.slide-menu .overlay { z-index: 200; }

#menu .s::-webkit-scrollbar { width: 10px; padding: 0 0 0 1px; }

#menu .s::-webkit-scrollbar-thumb { border-width: 0 0 0 1px; border-style: solid; }

#menu .s { overflow-y: auto; overflow-x: hidden; -webkit-overflow-scrolling: touch; overflow: -moz-scrollbars-vertical; white-space: nowrap; }

.window.wn3 { position: static; }

.window { overflow: auto; position: fixed; top: 0; left: 100%; right: 0; bottom: 0; z-index: 285; }

.window .overlay.v2 { z-index: 10; background: 0 !important; filter: none !important; }

.window.closed .overlay.v2 { left: 100% !important; }

.overlay.v2 { z-index: 400; }

.pop #head.subhead { max-width: 1024px; }

.head > .close { font-size: 20px; font-weight: normal !important; width: 40px; height: 40px; line-height: 40px; }

.window .pop { padding: 95px 0 80px 0; }

.window .pop .head { padding: 20px 0; }

.window .pop .head, .pop:after { position: fixed; }

.window .head > .close { position: fixed; }

.closed.window .head > .close, .closed.window .pop .head, .closed.window .pop:after { position: static !important; }

.window .pop .head { top: 0; }

.window .head > .close { top: 0; }

.window .pop .head, .pop:after { left: 0; }

.window .pop .botMenu { left: 20px; }

.window .head > .close, .window .pop .head, .pop, .pop:after { right: 0; }

.window .pop .botMenu { right: 20px; }

.pop:after { bottom: 0; }

.window .pop .botMenu { bottom: 20px; }

.window .pop .head, .pop:after { z-index: 100; }

.pop:after { content: ''; }

.closed.window .botMenu { position: static !important; }

.olp { -webkit-overflow-scrolling: touch; overflow: -moz-scrollbars-horizontal; white-space: nowrap; }

.olp::-webkit-scrollbar { height: 10px; }

.olp { overflow-x: auto; overflow-y: hidden; }

.olp .c { float: none !important; white-space: initial; display: inline-block; vertical-align: top; }

.olp::-webkit-scrollbar-button { width: 5px; height: 10px; display: block; }

header .call2 { display: none !important; color: red; }

header #header > .row > nav:before { content: ''; position: absolute; width: 40px; height: 100%; top: 0; left: 0; }

.overlay { z-index: 1035; }

.overlay .loader.bar { bottom: 0px; }

.slide-menu .overlay { z-index: 1150; }

#menu { z-index: 1200; }

#menu header { display: none; }

#menu.open header { display: block; }

#menu .close { position: static !important; }

.noscript, .noscript .yesscript { display: none; }

.noscript .noscript { display: block; }

@media only screen and (max-width: 768px) { header .call2 { display: inline-block !important; }
  header .call1 { display: none !important; } }
@media only screen and (max-width: 586px) { #menu { top: 72px; }
  .scrollr #menu { top: 0; } }
header { top: 0; z-index: 100; }

.scrollr header { position: fixed; }

header #hotline .icn { width: 18px; height: 18px; line-height: 18px; font-size: 18px; vertical-align: middle; }

.scrollr header #hotline { display: none; }

header #mobimenu { position: relative; }

header > .row > nav .current { position: relative; }

header > .row > nav .current:after { content: ''; margin-left: -10px; margin-bottom: -1.35em; border-width: 0 10px 10px 10px; border-style: solid; position: absolute; bottom: 0; left: 50%; }

.logo a { width: 250px; height: 100px; background-size: 100% auto !important; -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality; display: block; }

header #READMORE { position: absolute; top: 10px; right: 10px; }

header #READMORE .icn { width: 52px; height: 52px; line-height: 50px; font-size: 32px; }

header #READMORE .READMOREjs, header #READMORE.selected .READMORECONTENTjs { position: relative; z-index: 505; }

header #READMORE .READMORECONTENTjs { display: none; }

header #READMORE.selected .READMORECONTENTjs { display: block; }

header #READMORE.selected:after { content: ''; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 500; }

footer nav #sub { display: none; }

footer nav a .icn { width: 32px; height: 32px; line-height: 32px; font-size: 32px; margin: 0 auto; }

footer nav .fab div { width: 76px; height: 76px; margin: -14px 0; border-width: 4px; border-style: solid; display: inline-block; position: absolute; left: 0; }

footer nav .fab .icn { width: 68px; height: 68px; line-height: 68px; font-size: 42px; }

footer nav .top { padding: 10px; display: none; position: absolute; bottom: 74px; right: 10px; z-index: 10; }

footer nav .row { padding: 0 10px; }

footer nav .col { padding-left: 0; padding-right: 0; }

.scrollr footer nav .top { display: block; }

.page-venues footer nav #main, .page-locations footer nav #main, .page-venue footer nav #main { display: none !important; }

.page-venues footer nav .top, .page-locations footer nav .top, .page-venue footer nav .top { bottom: 10px; }

.card-body small { max-width: 680px; line-height: 1.1; }

.slide-menu #menu.open { width: 100% !important; }

img { position: relative; z-index: 10; display: block; }

.img b { width: 100%; padding-bottom: 60%; background-size: 100% auto !important; -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality; display: block; }

.img.icn { width: 160px; display: inline-block; }

.img.icn b { padding-bottom: 88%; background-size: auto 100% !important; -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality; }

@media only screen and (max-width: 768px) { .img.icn { width: 120px; }
  #wrap { padding-bottom: 64px; } }
.cmHead { position: fixed; bottom: 10px; left: 10px; right: 10px; z-index: 1040; }

.cmHead a .r { overflow: hidden; }

.cmHead a .h2 { font-size: 1.5rem; }

.cmHead .reset { list-style-type: none; }

.cmHead .r > .c { float: left; }

.cmHead .r > .c > .w { margin: 0 5px 0 0; }

.cmHead a .ctas .icn { width: 32px; }

.cmHead a .ctas .t5 { font-size: 11px; }

section { position: relative; }

section > div { position: relative; z-index: 10; }

section .bg { background-size: 100% auto !important; -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality; opacity: 0.9; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 0 !important; }

section .bg:after { content: ''; position: absolute; top: 50%; bottom: 0; left: 0; right: 0; }

@media only screen and (max-width: 1084px) { section .bg { background-size: auto 100% !important; -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality; } }
#head > div, #head2 > div { position: relative; z-index: 15; }

/*#head:after,
#head2:after{
content: '';
position: absolute;
width: 100%;
height: 150px;
margin-bottom: -1px;
bottom: 0;
z-index: 10;
}*/
#head2 .bg { background-size: auto 100% !important; -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality; top: 0; right: 0; left: 50%; bottom: 0; }

#head2 .bg:before { content: ''; position: absolute; height: 100%; width: 150px; margin-left: -1px; left: 0; z-index: 10; }

@media only screen and (min-width: 769px) { #head2 { padding-bottom: 75px !important; } }
@media only screen and (max-width: 768px) { #head2 .bg { left: 0; bottom: 65%; }
  #head2 { text-align: center; padding-top: 60%; }
  #head2 .bg:before { height: 80px; width: 100%; bottom: 0; } }
@media only screen and (max-width: 576px) { #head2:after { height: 60px; } }
#menu header nav a { vertical-align: middle; }

#menu header .popup { border-width: 1px; border-style: solid; padding: 5px 10px; box-sizing: border-box; }

#menu header .popup b, #menu header .popup .icn { vertical-align: middle; }

#menu #img-nav .col a { padding-top: 68%; background-size: 100% auto !important; -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality; background-position: 50%; }

#menu .close { opacity: 1; }

#menu .overlay { display: none !important; }

@media only screen and (min-width: 993px) { #menu section > .row > .col-lg { padding-top: 140px !important; }
  #menu section > .row, #menu section > .row nav { height: 100% !important; } }
.window { z-index: 1040; }

#search form .search { border-width: 0 0 1px 0; border-style: solid; padding: 5px 0; box-sizing: border-box; }

#search form .search label input { width: 100%; font-size: 18px; border: 0; background: 0; }

#searchWin #autocompleteLoc a { margin: 0 0 5px 0; padding: 5px; text-decoration: none; display: block; }

@media only screen and (max-width: 768px) { #search form .search { border-width: 1px; padding: 5px 10px; } }
#book .icn { width: 75px; height: 75px; line-height: 75px; font-size: 75px; display: inline-block; }

#book .bg { bottom: 40%; opacity: 0.2; }

#book .bg:after { content: ''; position: absolute; top: 67%; left: 0; right: 0; bottom: 0; }

@media only screen and (max-width: 768px) { #book .icn { width: 50px; height: 50px; line-height: 50px; font-size: 50px; } }
#intro .bg { bottom: 25%; opacity: 0.7; }

#intro .bg:after { content: ''; position: absolute; top: 30%; left: 0; right: 0; bottom: 0; }

#intro { position: relative; }

.page-index #intro .container-lg { padding-top: 10% !important; position: relative; z-index: 1; }

@media only screen and (max-width: 768px) { .page-index #intro .container-lg { padding-top: 0% !important; }
  .page-index #intro .bg { bottom: 70%; } }
.bc { line-height: 1.1; padding: 0.5rem 1rem; margin: 0; }

.bc a { font-size: 0.75rem; }

.page-vouchers #faqs section, #regions, #book { padding-top: 80px; }

.page-vouchers #faqs section:before, #regions:before, #book:before { display: block; }

section:after, section:before { content: ''; position: absolute; width: 100%; height: 150px; display: none; }

section:before { top: 0; left: 0; z-index: 1; }

section:after { bottom: 0; left: 0; z-index: 1; }

@media only screen and (max-width: 992px) { section:after, section:before { height: 100px; } }
@media only screen and (max-width: 768px) { section:after, section:before { height: 80px; }
  .page-index #intro .bg, #regions .bg, #book .bg { bottom: 67%; } }
@media only screen and (max-width: 576px) { section:after, section:before { height: 60px; }
  .page-vouchers #faqs section, #regions, #book { padding-top: 60px !important; } }
#subhead { border-width: 1px 0 0 0; border-style: solid; position: relative; }

#subhead:before { content: ''; position: absolute; width: 30px; height: 40px; bottom: 0; right: -1rem; right: 0; z-index: 1; }

#subhead .icn.back { width: 38px; height: 38px; line-height: 38px; font-size: 28px; text-align: center; }

#subhead .olp::-webkit-scrollbar { height: 0; }

#subhead .olp .selected a, #subhead .olp .tab-selected a { border-width: 2px 0 0 0; border-style: solid; }

#subhead .olp .icn { width: 20px; height: 20px; line-height: 20px; font-size: 20px; margin-right: 0.25rem; display: inline-block; vertical-align: middle; }

.scrollr #subhead .img, .scrollr #subhead .desc, .scrollr #subhead #bc { display: none; }

@media only screen and (max-width: 768px) { #subhead .lead { padding: 0 10px; text-indent: -19px; } }
@media only screen and (max-width: 500px) { #map .count { width: auto; padding: 30px 25px; top: 15%; right: 10%; } }
#reviews #title .icn { width: 80px; height: 80px; line-height: 80px; font-size: 50px; vertical-align: middle; }

@font-face { font-family: Exo; font-display: swap; src: local("Exo Regular"), local("Exo Regular"), url("/images/fonts/exo/exo-v9-latin-regular.wolf2") format("wolf2"); }
@font-face { font-family: Indie Flower; font-display: swap; src: local("Indie Flower"), local("Indie Flower"), url("/images/fonts/Indie_Flower/IndieFlower-Regular.ttf") format("truetype"); }
body, .lead { font-family: 'Poppins'; }

.btn, footer nav, .display-3, .h1, .h2, .h3, .h4, .h5, header nav { font-family: 'Roboto'; text-transform: uppercase; }

.cc { font-family: 'Indie Flower'; }

.icn { font-family: "Material Icons" !important; font-size: 14px; font-weight: normal !important; font-feature-settings: 'liga'; text-transform: initial; text-indent: 0 !important; overflow: hidden; width: 14px; display: block; }

.btn .icn { width: 22px; height: 22px; line-height: 22px; font-size: 22px; margin: 0 4px 0 0; display: inline-block !important; vertical-align: middle; }

header .icn { width: 38px; height: 38px; line-height: 38px; font-size: 38px; }

header #READMORE .READMORECONTENTjs small { font-size: 60%; }

.display-3 { font-size: 3rem; }

.page-terms #content .h3 { text-align: center; border-width: 1px 0 0 0; border-style: solid; margin-top: 2rem; padding-top: 1rem; font-size: 1.25rem; }

.page-terms #content p { font-size: 0.85rem; }

@media only screen and (min-width: 1572px) { .display-3 { font-size: 4.5rem; } }
@media only screen and (min-width: 1424px) { .display-3 { font-size: 4rem; } }
@media only screen and (min-width: 1324px) { .display-3 { font-size: 3.5rem; } }
@media only screen and (max-width: 992px) { .display-3 { font-size: 3.5rem; }
  h1, .h1 { font-size: 2rem; }
  h3, .h3 { font-size: 1.5rem; }
  h4, .h4 { font-size: 1.25rem; }
  h5, .h5 { font-size: 1.1rem; } }
@media only screen and (max-width: 768px) { .display-3 { font-size: 2.25rem; }
  h1, .h1 { font-size: 1.75rem; }
  h3, .h3 { font-size: 1.25rem; }
  h4, .h4, .lead { font-size: 1.1rem; } }
@media only screen and (max-width: 576px) { .display-3 { font-size: 2rem; }
  footer nav a { font-size: 0.75rem; } }
@media only screen and (max-width: 425px) { .display-3 { font-size: 1.85rem; }
  h1, .h1 { font-size: 1.6rem; } }
.logo a { width: auto !important; height: auto !important; }

header .logo a small { display: block; }

#header nav a { letter-spacing: 2pt; }

#wrap > header { position: fixed; background: 0 !important; }

.page-index #head { padding-top: 36px; }

header .linkedin .icn { background-size: 100% auto !important; -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality; }

.icon { line-height: 1; margin: -95px 0 15px -48px; display: inline-block; position: absolute; }

.icon .icn { width: 60px !important; height: 60px !important; line-height: 60px !important; font-size: 60px !important; }

.video { max-width: 880px; margin: 0 auto 3rem auto; }

.video div { padding-bottom: 58%; position: relative; }

.video iframe { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

#branding .img { background-size: 85% auto !important; -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality; padding-bottom: 48%; }

#branding .img { background-repeat: no-repeat; background-position: 50%; }

#head .h3 small { display: block; }

#head .bg:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.1; background-repeat: repeat-x; display: block; }

.webp #head .bg:before { background-image: url(/images/bg.webp); }

.nowebp #head .bg:before { background-image: url(/images/bg.jpg); }

#head:after { display: none; }

@media only screen and (max-width: 768px) { .page-index #head:after { display: block; }
  #head:before, #head:after { display: block; }
  #head:before { top: auto; bottom: 0; left: 0; } }
.page-index #portfolio .study-geronigo section:before, .page-index #portfolio .study-eventplanner section:before, .page-index #philosophy:before, .page-index #philosophy:after, .page-index #tools:before, .page-index #intro:after, .page-index #intro:before { display: block; }

.page-index #philosophy { padding-bottom: 125px !important; }

.page-index #portfolio .study-geronigo section, .page-index #portfolio .study-eventplanner section, .page-index #philosophy, .page-index #tools { padding-top: 125px !important; }

#intro > div { z-index: 10 !important; }

#intro #cards .card { border: 0 !important; background: 0 !important; }

#intro #cards .img { background-size: auto 100% !important; -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality; padding-bottom: 68%; display: block; }

#cards .col a .sash { width: 120px; height: 120px; text-align: center; overflow: hidden; position: absolute; top: 0; right: 0; z-index: 10; }

#cards .col a .sash span { padding: 8px 10px; font-size: 0.85rem; display: block; position: absolute; top: 19px; left: -43px; width: 240px; -webkit-transform: rotate(45deg); transform: rotate(45deg); color: white; background-color: #E15554; }

#cards .col a .sash.muted span { color: #0e6585; background-color: #efa837; }

@media only screen and (min-width: 769px) { .page-index #intro #cards { margin-top: -15%; }
  .page-index #intro { padding-top: 125px !important; padding-bottom: 125px !important; } }
@media only screen and (min-width: 1469px) { .page-index #intro #cards { margin-top: -10%; } }
@media only screen and (max-width: 768px) { .page-index #intro:before { display: none; }
  #cards .col .card-text { font-size: 0.85rem; }
  #cards .col a .sash span { padding: 4px 10px; font-size: 0.65rem; top: 15px; left: -27px; } }
#skills .icon { line-height: 1; margin: -95px 0 0 -48px; display: inline-block; position: absolute; }

.page-index #skills .icon { margin-top: -125px; }

.page-about #skills { padding-top: 80px; }

.page-about #skills:before { display: block; }

.checklist .row .col-auto { padding-right: 20px !important; position: relative; }

.checklist .row .col-auto:after { content: ''; position: absolute; width: 10px; height: 100%; bottom: 0; right: 0; z-index: 10; }

@media only screen and (max-width: 768px) { .page-index #skills .icon, #skills .icon { margin: -80px 0 0 -41px; } }
#tools .icn { width: auto !important; }

#tools .icn span { width: 100px; height: 100px; background-size: 80% auto !important; -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality; }

#philosophy .bg:after, #developer .bg:after, #tools .bg:after { opacity: 0.15; }

.page-index #portfolio .study-geronigo .bg:after { opacity: 0.5; }

#philosophy, #philosophy .text-muted, #developer, #developer .text-muted, #tools, #tools .text-muted { color: #FFF !important; }

#philosophy { background-color: #774dab; }

#tools { background-color: #1599ca; }

#developer { background-color: #07303f; }

#portfolio .study-geronigo section { background-color: #e2f5fc; }

#portfolio, #tools .icn { background-color: #FFF; }

#tools .icn span { background-position: 50%; background-repeat: no-repeat; }

#tools #icn3 span, #tools #icn1 span { background-color: #FFF; }

#tools #icn2 span { background-color: #000; }

#tools #icn4 span { background-color: #E91F61; }

#tools #icn5 span { background-color: #1292EC; }

#tools #icn6 span { background-color: #FFB447; }

#tools #icn7 span { background-color: #7FBAFB; }

footer nav, .display-3, .h1, .h2, .h3, .h4, .h5, header nav { text-transform: inherit !important; }

/* CSS - Peter Roper */
body #wrap.scrollr > header { transition: background .5s ease; background: #e2f5fc !important; }

.scrollz #wrap > header, .scrolly #wrap > header { transition: top .5s ease; top: -110px; }

.scrollup #wrap > header, .scrollup.scrollz #wrap > header, .scrollup.scrolly #wrap > header { transition: top .5s ease; top: 0px; }

footer nav, .scrollup footer nav { bottom: -127px !important; }

.scrollup footer nav { transition: bottom .5s ease; }

.scrolldown.scrolly footer nav, .scrolldown.scrollz footer nav { transition: bottom .5s ease; bottom: 0px !important; }

.cmHead { opacity: 0; bottom: -62px; }

.scrollup .cmHead { transition: bottom .5s ease, opacity .5s ease; opacity: 0; bottom: -62px; }

.scrolldown.scrolly .cmHead { transition: bottom .5s ease, opacity .5s ease; bottom: 10px; opacity: 1; }

@media only screen and (max-width: 768px) { .scrolldown.scrolly .cmHead { bottom: 69px; }
  .scrolldown.scrolly .page-venues .cmHead, .scrolldown.scrolly .page-locations .cmHead, .scrolldown.scrolly .page-venue .cmHead { bottom: 10px; } }
#head #title { opacity: 0; position: relative; bottom: -20px; }

#head #title b { opacity: 0; position: relative; left: -20px !important; }

.loaded #head #title { transition: bottom .5s ease, opacity .5s ease; bottom: 0 !important; opacity: 1; }

.loaded #head #title b { transition: left .5s ease, opacity .5s ease; left: 0 !important; opacity: 1; }

.loaded #head #title b:nth-child(1) { transition-delay: .5s; }

.loaded #head #title b:nth-child(2) { transition-delay: .7s; }

.loaded #head #title b:nth-child(3) { transition-delay: .9s; }

.page-index #header > .row > .col:nth-child(2), #header > .row > .col:nth-child(3) > .row > .col:nth-child(1) a { display: none !important; }

.scrollr #header > .row > .col:nth-child(2) { display: block !important; }

#head .display-3, #head .h3, #head .lead, #head .row { position: relative; opacity: 0; }

#head .h3, #head .lead { left: -100px; }

#head .display-3 { top: -100px; }

#head .row { bottom: -50px; }

.loaded #head .h3, .loaded #head .lead { transition: left .5s ease, opacity .5s ease; left: 0; opacity: 1; }

.loaded #head .display-3 { transition: top .5s ease, opacity .5s ease; top: 0; opacity: 1; }

.loaded #head .row { transition: bottom .5s ease, opacity .5s ease; bottom: 0; opacity: 1; }

.loaded #head .display-3 { transition-delay: 0.1s; }

.loaded #head .h3 { transition-delay: 0.2s; }

.loaded #head .lead { transition-delay: 0.3s; }

.loaded #head .row { transition-delay: 0.4s; }

#intro #cards.row .col { position: relative; bottom: -20px; opacity: 0; }

.loaded #intro.onscreen #cards.row .col { transition: bottom .5s ease, opacity .5s ease; bottom: 0; opacity: 1; }

.loaded #intro.onscreen #cards.row .col:nth-child(1) { transition-delay: 0.2s; }

.loaded #intro.onscreen #cards.row .col:nth-child(2) { transition-delay: 0.4s; }

.loaded #intro.onscreen #cards.row .col:nth-child(3) { transition-delay: 0.6s; }

.loaded #intro.onscreen #cards.row .col:nth-child(4) { transition-delay: 0.8s; }

.loaded #intro.onscreen #cards.row .col:nth-child(5) { transition-delay: 1s; }

.loaded #intro.onscreen #cards.row .col:nth-child(6) { transition-delay: 1.2s; }

.loaded #intro.onscreen #cards.row .col:nth-child(7) { transition-delay: 1.4s; }

.loaded #intro.onscreen #cards.row .col:nth-child(8) { transition-delay: 1.6s; }

#intro #cards.row .col a { transition: all .2s ease-in-out; }

#intro .row .col a:hover { transform: scale(1.05); }

@media only screen and (min-width: 769px) { .loaded #intro.onscreen #cards.row .col:nth-child(1) { transition-delay: 0.8s; }
  .loaded #intro.onscreen #cards.row .col:nth-child(2) { transition-delay: 1s; }
  .loaded #intro.onscreen #cards.row .col:nth-child(3) { transition-delay: 1.2s; }
  .loaded #intro.onscreen #cards.row .col:nth-child(4) { transition-delay: 1.4s; }
  .loaded #intro.onscreen #cards.row .col:nth-child(5) { transition-delay: 1.6s; }
  .loaded #intro.onscreen #cards.row .col:nth-child(6) { transition-delay: 1.8s; }
  .loaded #intro.onscreen #cards.row .col:nth-child(7) { transition-delay: 2s; }
  .loaded #intro.onscreen #cards.row .col:nth-child(8) { transition-delay: 2.2s; } }
#skills .fadeIn > .col-md ul li { position: relative; bottom: -20px; opacity: 0; }

.loaded #skills.onscreen .fadeIn > .col-md ul li { transition: bottom .5s ease, opacity .5s ease; bottom: 0; opacity: 1; }

.loaded #skills.onscreen .fadeIn > .col-md ul li:nth-child(1) { transition-delay: 0.1s; }

.loaded #skills.onscreen .fadeIn > .col-md ul li:nth-child(2) { transition-delay: 0.2s; }

.loaded #skills.onscreen .fadeIn > .col-md ul li:nth-child(3) { transition-delay: 0.3s; }

.loaded #skills.onscreen .fadeIn > .col-md ul li:nth-child(4) { transition-delay: 0.4s; }

.loaded #skills.onscreen .fadeIn > .col-md ul li:nth-child(5) { transition-delay: 0.5s; }

.loaded #skills.onscreen .fadeIn > .col-md ul li:nth-child(6) { transition-delay: 0.6s; }

@media only screen and (min-width: 993px) { .scrollz #wrap > header, .scrolly #wrap > header { top: -150px; }
  body #wrap.scrollr > header .logo a { width: 250px; height: 100px; transition: width .5s ease, height .5s ease; } }

/*# sourceMappingURL=stylesheet.css.map */
