/* CSS - Peter Roper */
body #wrap.scrollr > header { transition: background .5s ease; background: #e2f5fc !important; }

.scrollz #wrap > header, .scrolly #wrap > header { transition: top .5s ease; top: -110px; }

.scrollup #wrap > header, .scrollup.scrollz #wrap > header, .scrollup.scrolly #wrap > header { transition: top .5s ease; top: 0px; }

footer nav, .scrollup footer nav { bottom: -127px !important; }

.scrollup footer nav { transition: bottom .5s ease; }

.scrolldown.scrolly footer nav, .scrolldown.scrollz footer nav { transition: bottom .5s ease; bottom: 0px !important; }

.cmHead { opacity: 0; bottom: -62px; }

.scrollup .cmHead { transition: bottom .5s ease, opacity .5s ease; opacity: 0; bottom: -62px; }

.scrolldown.scrolly .cmHead { transition: bottom .5s ease, opacity .5s ease; bottom: 10px; opacity: 1; }

@media only screen and (max-width: 768px) { .scrolldown.scrolly .cmHead { bottom: 69px; }
  .scrolldown.scrolly .page-venues .cmHead, .scrolldown.scrolly .page-locations .cmHead, .scrolldown.scrolly .page-venue .cmHead { bottom: 10px; } }
#head #title { opacity: 0; position: relative; bottom: -20px; }

#head #title b { opacity: 0; position: relative; left: -20px !important; }

.loaded #head #title { transition: bottom .5s ease, opacity .5s ease; bottom: 0 !important; opacity: 1; }

.loaded #head #title b { transition: left .5s ease, opacity .5s ease; left: 0 !important; opacity: 1; }

.loaded #head #title b:nth-child(1) { transition-delay: .5s; }

.loaded #head #title b:nth-child(2) { transition-delay: .7s; }

.loaded #head #title b:nth-child(3) { transition-delay: .9s; }

.page-index #header > .row > .col:nth-child(2), .page-index #header > .row > .col:nth-child(3) > .row > .col:nth-child(1) { display: none !important; }

@media only screen and (min-width: 993px) { .scrollz #wrap > header, .scrolly #wrap > header { top: -150px; }
  body #wrap.scrollr > header .logo a { width: 250px; height: 100px; transition: width .5s ease, height .5s ease; } }
.shimmer { margin: 0; display: inline-block; color: white; background: #fae6c5 -webkit-gradient(linear, 100% 0, 0 0, from(#fae6c5), color-stop(0.5, #ffffff), to(#fae6c5)); background-position: -4rem top; /*50px*/ background-repeat: no-repeat; -webkit-background-clip: text; -webkit-text-fill-color: transparent; -webkit-animation-name: shimmer; -webkit-animation-duration: 2.2s; -webkit-animation-iteration-count: infinite; -webkit-background-size: 4rem 100%; /*50px*/ }

.shimmer .icn { -webkit-text-fill-color: #fae6c5; }

#head #title .shimmer { color: #efa837; background: #efa837 -webkit-gradient(linear, 100% 0, 0 0, from(#efa837), color-stop(0.5, #fae6c5), to(#efa837)); }

@-webkit-keyframes shimmer { 0% { background-position: -4rem top;
    /*50px*/ }
  70% { background-position: 12.5rem top;
    /*200px*/ }
  100% { background-position: 12.5rem top;
    /*200px*/ } }
