/* CSS - Peter Roper */
#wrap.page-casestudy.scrollr > header, #wrap.page-casestudy > header { position: relative; }

.page-casestudy footer nav .top { bottom: 10px; }

@media only screen and (max-width: 768px) { #wrap.page-casestudy > header { display: none !important; } }
.img, .img span { background-size: 100% auto !important; -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality; background-repeat: no-repeat; background-position: 50% 0; }

#start .img { background-position: 50%; }

.study-geronigo #start .col-md:nth-child(3) .img { background-position: 50% 0; }

.study-eventplanner #start .col-md:nth-child(2) .img, .study-rezbot #start .col-md:nth-child(3) .img { background-size: auto 100% !important; -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality; }

#redesign .img span, #study .img { padding-bottom: 62% !important; }

.study-rezbot #study .img { padding-bottom: 54% !important; }

#start .img, #overview .img span { padding-bottom: 58% !important; }

.study-eventplanner #study .img span, .study-eventplanner #redesign .img span { padding-bottom: 178% !important; }

.study-geronigo #redesign .img span { padding-bottom: 98% !important; }

.study-eventplanner #study .img { max-width: 375px; margin: 0 auto -100px auto; padding-bottom: 1rem !important; }

.study-eventplanner #overview .img span { padding-bottom: 120% !important; }

@media only screen and (max-width: 425px) { .study-eventplanner #study .img { max-width: 305px; } }
@media only screen and (max-width: 395px) { .study-eventplanner #study .img { max-width: 265px; } }
#appraisal:before, #study:after { display: block; }

#study { padding-bottom: 100px !important; }

#appraisal { padding-top: 100px; }

@media only screen and (max-width: 768px) { #appraisal { padding-top: 60px; } }
#study { background-color: #222B2F; background: -moz-linear-gradient(-45deg, #222B2F 0%, #07303f 100%); background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #222B2F), color-stop(100%, #07303f)); background: -webkit-linear-gradient(-45deg, #222B2F 0%, #07303f 100%); background: -o-linear-gradient(-45deg, #222B2F 0%, #07303f 100%); background: -ms-linear-gradient(-45deg, #222B2F 0%, #07303f 100%); background: linear-gradient(-45deg, #222B2F 0%, #07303f 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222B2F', endColorstr='#07303f',GradientType=1 ); }

.study-eventplanner #study .img span, #redesign .img span { background-color: #DEDEDE; }

.study-eventplanner #study .img, #overview .img { background-color: #FFF; }

#study, #study .text-muted { color: #222 !important; }

#study { background: #DEDEDE !important; }

#study:after { background-image: linear-gradient(to right bottom, transparent 50%, #FFF 50%, #FFF 0%); }

main { font-size: 82%; }

p b { font-family: 'Roboto'; font-size: 105%; }

.h1 { font-size: 1.85rem; }

.lead { font-size: 1rem; }

body { background: #FFF; color: #222; }

a { color: #07303f !important; }

p b { color: #007bff !important; }

.border { border-color: #444 !important; }

.border-bottom { border-color: #DEDEDE !important; }

/*# sourceMappingURL=page-portfolioprint.css.map */
